// Company branding
$branding-primary: #0037Be;
$branding-black: #0e0c0c;
$branding-white: #ffffff;
$branding-alt-light-blue: #0063f2;
$branding-alt-dark-blue: #012072;
$branding-alt-green: #8bd99d;
$branding-alt-orange: #f49f1c;
$branding-alt-dark-orange: #e5a16e;